body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #bbb;
  color: #555;
}
p {
  margin: 10px auto;
}
#container {
  max-width: 940px;
  margin: auto auto;
  padding: 10px 10px;
  background-color: #ccc;
}
#searchbar {
  margin: 0 0;
  padding: 0 0;
  text-align: center;
  vertical-align: center;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.editbox {
  text-align: center;
  vertical-align: center;
}
form.newpost fieldset {
  margin-bottom: 10px;
  border: 1px dashed #aaa;
  text-align: left;
}
form.newpost label {
  text-align: right;
  display: inline-block;
  width: 120px;
}
form.newpost ol {
  margin: 2px;
  padding: 2px;
}
form.newpost li {
  list-style: none;
}
form.newpost input {
  width: 360px;
}
form.newpost input.short {
  width: 120px;
}
input,
textarea {
  font-size: 120%;
  color: #5a5854;
  background-color: #f2f2f2;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 8px 9px;
  display: inline;
  margin-bottom: 10px;
  margin-top: 10px;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #000 !important;
  background-color: #fff;
}
a:visited {
  color: #777;
}
a .tag {
  background-color: #f5deb3;
  color: #222;
}
a .tag:hover {
  color: #000 !important;
  background-color: #fff;
}
fieldset {
  padding: 2px 2px;
  display: inline;
  border: none;
}
body {
  font-size: 200%;
}
#centerbox {
  width: 640px;
  max-width: 480px;
  margin: 30px auto;
}
#linebox {
  margin: 50px auto;
}
h1,
span {
  margin: 50px;
  font-size: 200%;
}
